*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(9, 8, 8, 0.7)50%,rgba(35, 31, 31, 0.7)50%), url(img/co_3.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
   
}
.main input{
width: 250px;
margin-top: 3px;
}

.myform input{
    margin-top: 3px;
  
    }
    
.container label{
font-size: 20px;
}
.container input{
    background: transparent;
    width: 240px;
    background: transparent;
    border-bottom: 1px solid #dedbac;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #f4f4ef;
    font-size: 17px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: sans-serif;

}
#btn {margin-top: 5px;
cursor: pointer;
width: 130px;
border-radius: 25px;
padding: 10px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
background:none;
background-color: rgb(98, 122, 181);
}
#btn:hover{
    background: #07671b;
    color: #d9b599;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.form{
    width: 250px;
    height: 342px;
    /*background: linear-gradient(to top, rgba(56, 58, 59, 0.6)50%, rgba(48, 50, 50, 0.6)50%);*/
    position: absolute;
    top: 128px;
    left: 476px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}
.main h1 span{
color: #b7d999;
font-size: 35px;
}
.main h1{
color: rgb(205, 166, 186);
top: 61px;
position: relative;
text-align: center;
}

.main label{
color: aqua;
}

